#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Muxie
Keywords=Internet;WWW;Browser;Web
Exec=muxie open %u
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
StartupNotify=false
Icon=muxie
